name: Go

on:
  push:
    tags:
      - '*'

jobs:

  on-main-branch-check:
    runs-on: ubuntu-latest
    outputs:
      on_main: ${{ steps.contains_tag.outputs.retval }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: rickstaa/action-contains-tag@v1
        id: contains_tag
        with:
          reference: "main"
          tag: "${{ github.ref }}"

  build:
    runs-on: ubuntu-latest
    needs: on-main-branch-check
    if: ${{  needs.on-main-branch-check.outputs.on_main == 'true' }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Chmod
        run: chmod +x ./build.sh

      - name: Find tag
        id: tagger
        uses: jimschubert/query-tag-action@v1
        continue-on-error: true
        with:
          commit-ish: 'HEAD'

      - name: Build
        run: ./build.sh lpfr-o-matic
        env:
          CI_COMMIT_TAG: ${{steps.tagger.outputs.tag}}

#      - name: Release
#        uses: marvinpinto/action-automatic-releases@latest
#        with:
#          repo_token: ${{ secrets.GITHUB_TOKEN }}
#          files: ./artifacts/**
#          automatic_release_tag: "latest"
      - name: Release
        uses: Hs1r1us/Release-AIO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          asset_files: './artifacts/'

